body{
  margin:0;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: top;
}

h1{
  font-size: 50px;
  color : #2c3e50;
  text-align: center;
  margin:0px;
  padding: 20px;
}
.image{
    width:200px;
    height:400px;
}
