body{
  margin:0;
  background-image: url("");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
  background-color: #273c75;
}
h1{
  font-size: 50px;
  color : #2c3e50;
  text-align: center;
  margin:0px;
  padding: 20px;
}
h1 a{
  text-decoration: none;
  color:#dcdde1;
}
.card{
  width : 280px;
  padding: 20px;
  background: white;
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, 10%);
  border-radius: 7px;
  box-shadow: 1px 1px 12px black;
}

.fb{
  color:#0377fc;
}
.gg{
  color:#0394fc;
}
.yt{
  color:#fc0303;
}
#info{
    width:auto;
    height:auto;
    margin:0;
    overflow:hidden;
}
#blank{
    width:30%;
    float:left;
    overflow: hidden;

}
#image{
    width:70%;
    float:left;
    text-align:center;
}
