body{
  margin:0;
  background-image: url("");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
  background-color: #273c75;
}
h1{
  font-size: 50px;
  text-align: center;
  margin:0px;
  padding: 20px;
}
h1 a{
  text-decoration: none;
  color:#dcdde1;
}/*Portfolio헤더 색 지정 및 하이퍼링크 효과 제거*/
.card{
  width : 280px;
  padding: 20px;
  margin:20px;
  background: white;
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 7px;
  box-shadow: 1px 1px 12px black;
}/*card 객체에 크기, 그림자 등 속성 지정*/
.calculatorCard{
  transform: translate(-120%, 30%);
}/*계산기 카드 위치 조정*/
.gameCard{
  transform: translate(10%, 30%);
}/*게임 카드 위치 조정*/
.gameCard a img{
  width: 128px;
  height: 128px;
}/*게임 카드 내 이미지 크기 조정*/
.media{
  text-align: center;
  text-decoration: none;
  transform: translate(30%);
}
ion-icon{
  font-size: 32px
}
.cgh{
  color:black;
}
.fb{
  color:#0377fc;
}
.ml{
  color:green;
}
.gh{
color : #dcdde1;
}
.fb:hover{
  color:white;
}
.calculatorText{
  color : #dcdde1;
  font-size: 25px;
}
.calculatorText ion-icons{
  transform: translate(0, 50%);
}
#info{
    width:auto;
    height:auto;
    margin:0;
    overflow:hidden;
}
/**밑으로 부터는 소개글 효과 넣는 부분**/
#effect{
  color:#fff;
  margin:0;
  padding:0;
  perspective:1px;
  transform-style:preserve-3d;
  height:100%;
  overflow-y:scroll;
  overflow-x:hidden;
  font-family:"Luna";
}
header h2{
    margin-top:100px;
}
header, header:before{
    background:50% 50% /cover;
}
header::before{
    bottom:0;
    content:"";
    left:0;
    position:absolute;
    right:0;
    top:0;
    display:block;
    background-image:url(image.jpg);
    background-size:cover;
    transform-origin:center center 0;
    transform:translateZ(-1px)scale(2);
    z-index:-1;
    min-height:100vh;
}
header *{
    font-weight:normal;
    letter-spacing:0.2;
    text-align:center;
    margin:0;
    padding:1em 0;
}
/**여기까지**/
